<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="Jasmin Kwan Photography">
        <!--Site verifications-->
        <title>Jasmin Kwan Photography</title>
        
        <!-- bootstrap css -->
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <!-- main css -->
        <link rel="stylesheet" href="/css/main.css">
        <!-- font awesome -->
        <script src="/js/all.js"></script>
        <!--favicon-->
        <link rel="icon" href="img/waterpark.png">

    </head>
    <body>

<!--nav element-->
<nav class="navbar navbar-transparent navbar-initial">
    <a class="navbar-brand text-shadow" href="/">Jasmin Kwan</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse">
        <div class="toggler-btn">
            <div class="bar bar1"></div>
            <div class="bar bar2"></div>
            <div class="bar bar3"></div>
        </div>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mx-auto">
            <li class="nav-item">
                <a class="nav-link pr-2" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link pr-2" href="/portfolio">Portfolio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link pr-2" href="/projects">Recent Projects</a>
            </li>
            <li class="nav-item">
                <a class="nav-link pr-2" href="/blog">Blog</a>
            </li>
            <li class="nav-item pr-2">
                <a class="nav-link " href="/contact">Contact</a>
            </li>
        </ul>
    </div>
</nav>
<!--end of nav element-->