<% include ./partials/header %>

<!--header-->
<div class="container-fluid">
    <div class="row header-img align-items-center">
        <div class="col-8 mx-auto py-5 text-center text-capitalize text-shadow">
                <h3 class="header-title">searching for existential worth in the wake of social collapse via camera lens</h3>
        </div>
    </div>
</div>

<!--header 2-->
<div class="container-fluid py-3">
    <div class="row header-2-img align-items-center">
        <div class="col-8 mx-auto py-5 text-center text-uppercase text-shadow">
                <h1 class="display-1 scale-fontsize text-shadow">photography</h1>
        </div>
    </div>
</div>

<!--photography section-->
<div class="container-fluid photography-section py-5">
    <div class="row">
        <!--single photo-->
        <div class="col-10 mx-auto col-sm-6 col-lg-4 my-3">
           <div class="photo-container">
               <img src="img/dog.jpeg" alt="photo" class="img-fluid photo-img">
               <a href="/">
                   <h3 class="text-uppercase text-center text-shadow photo-link">dogs</h3>
               </a>
           </div>
       </div>
       <!--end single photo-->
       <!--single photo-->
        <div class="col-10 mx-auto col-sm-6 col-lg-4 my-3">
           <div class="photo-container">
               <img src="img/food.jpeg" alt="photo" class="img-fluid photo-img">
               <a href="/">
                   <h3 class="text-uppercase text-center text-shadow photo-link">food</h3>
               </a>
           </div>
       </div>
       <!--end single photo-->
       <!--single photo-->
        <div class="col-10 mx-auto col-sm-6 col-lg-4 my-3">
           <div class="photo-container">
               <img src="img/music.jpeg" alt="photo" class="img-fluid photo-img">
               <a href="/">
                   <h3 class="text-uppercase text-center text-shadow photo-link">music</h3>
               </a>
           </div>
       </div>
       <!--end single photo-->
       <!--single photo-->
        <div class="col-10 mx-auto col-sm-6 col-lg-4 my-3">
           <div class="photo-container">
               <img src="img/travel.jpeg" alt="photo" class="img-fluid photo-img">
               <a href="/">
                   <h3 class="text-uppercase text-center text-shadow photo-link">travel</h3>
               </a>
           </div>
       </div>
       <!--end single photo-->
       <!--single photo-->
        <div class="col-10 mx-auto col-sm-6 col-lg-4 my-3">
           <div class="photo-container">
               <img src="img/portrait.jpeg" alt="photo" class="img-fluid photo-img">
               <a href="/">
                   <h3 class="text-uppercase text-center text-shadow photo-link">portraits</h3>
               </a>
           </div>
       </div>
       <!--end single photo-->
       <!--single photo-->
        <div class="col-10 mx-auto col-sm-6 col-lg-4 my-3">
           <div class="photo-container">
               <img src="img/wedding.jpeg" alt="photo" class="img-fluid photo-img">
               <a href="/">
                   <h3 class="text-uppercase text-center text-shadow photo-link">wedding</h3>
               </a>
           </div>
       </div>
       <!--end single photo-->
    </div>
</div>

<!--header 3-->
<div class="container-fluid py-3">
    <div class="row header-3-img align-items-center">
        <div class="col-8 mx-auto py-5 text-center text-uppercase text-shadow">
                <h1 class="display-1 scale-fontsize text-shadow">projects</h1>
        </div>
    </div>
</div>

<!--project section-->
<div class="container-fluid photography-section py-5">
    <div class="row mb-4">
       <!--single photo-->
        <div class="col-10 mx-auto col-sm-4 my-3">
           <div class="photo-container">
               <img src="img/project-1.jpeg" alt="photo" class="img-fluid photo-img">
               <a href="/">
                   <h3 class="text-uppercase text-center text-shadow photo-link">4x5 film</h3>
               </a>
           </div>
       </div>
       <!--end single photo-->
       <!--single photo-->
        <div class="col-10 mx-auto col-sm-4 my-3">
           <div class="photo-container">
               <img src="img/project-2.jpeg" alt="photo" class="img-fluid photo-img">
               <a href="/">
                   <h3 class="text-uppercase text-center text-shadow photo-link">rave culture</h3>
               </a>
           </div>
       </div>
       <!--end single photo-->
       <!--single photo-->
        <div class="col-10 mx-auto col-sm-4 my-3">
           <div class="photo-container">
               <img src="img/project-3.jpeg" alt="photo" class="img-fluid photo-img">
               <a href="/">
                   <h3 class="text-uppercase text-center text-shadow photo-link">thailand</h3>
               </a>
           </div>
       </div>
       <!--end single photo-->
    </div>
    <div class="row">
        <!--single photo-->
        <div class="col-10 mx-auto col-md-4 my-3">
           <div class="videoWrapper">
               <iframe width="780" height="439" src="https://www.youtube.com/embed/nlDDggCVQqM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
           </div>
       </div>
       <!--end single photo-->
       <!--single photo-->
        <div class="col-10 mx-auto col-md-4 my-3">
           <div class="videoWrapper">
               <iframe width="780" height="439" src="https://www.youtube.com/embed/UC0hX466m-E" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
           </div>
       </div>
       <!--end single photo-->
       <!--single photo-->
        <div class="col-10 mx-auto col-md-4 my-3">
           <div class="videoWrapper">
              <iframe width="780" height="439" src="https://www.youtube.com/embed/JQKClx7tAR8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
           </div>
       </div>
       <!--end single photo-->
   </div>
</div>

<!--blog-->
<div class="container-fluid py-3">
    <div class="row header-4-img align-items-center">
        <div class="col-8 mx-auto py-5 text-center text-uppercase text-shadow">
                <h1 class="display-1 scale-fontsize text-shadow">blog</h1>
        </div>
    </div>
</div>

<div class="container py-3">
    <div class="row align-items-center">
        <div class="col-8 mx-auto py-5 text-center text-uppercase">
                <button class="btn btn-lg btn-outline-light">View Blog</button>
        </div>
    </div>
</div>



<% include ./partials/footer %>